
    .none{
        display: none;
    }
    .border{
        border-top: none;
    }
  .bakeryhead{
    font-size: 25px;
  }
  .shop{
      padding-right: 50px;
  }
.underline{
    border-bottom: 1px solid;
}
.message{
    width: 50%;
}
 .comments{
    width: 50%;
    word-wrap: break-word;
    border-color: white;
 }
 .display_1{
     display: none;
 }