
  
     
   
       <h1 class="header_1">Pending List</h1>
          <h1>
                <button mat-button (click)="onSubmit()" class="production_b1" href="#" style="background-color:#68829e;color:white ">Move to Production</button>
          </h1>
              
             <div class="col-md-10"  id="printsection">
                
                     <h2 class="text-center dispaly_print_1">SAMAYAM BAKERY CAKE ORDER SLIP</h2>
                     <span class="none"><b>DATE:</b>&nbsp;{{today | date:'short'}}</span>
                          <table class="fixed display">
                            <td class="td_1" cellpadding="10"cellspacing="10"><b>Bill No</b></td>
                            <div>
                              <tr>
                                <td cellpadding="10"cellspacing="10"><b>ModelNumber</b></td>
                                <td cellpadding="10"cellspacing="10"><b>Flavour</b></td>
                                <td cellpadding="10"cellspacing="10"><b>Quantity</b></td>
                                <td cellpadding="10"cellspacing="10"><b>Delivery Time</b></td>
                              </tr>
                            </div>
                          </table>
                   <div *ngFor="let item of salereports">
                     
                      
                      <table class="fixed"> 
                   
                          <td class="td_1"><b class="display_1">Bill No:</b>&nbsp;<b>{{item.id}}</b></td>
                          <div class="kill">
                        <tr *ngFor="let data of item.orderItems">
                        <td cellpadding="10"cellspacing="10">{{data.product.modelNumber}}</td>
                      <td cellpadding="10"cellspacing="10" >{{data.flavour.name}}</td>
                      <td cellpadding="10"cellspacing="10" >{{data.quantity}}{{data.uom.name}}</td>
                       <td cellpadding="10"cellspacing="10">{{item.expectedTime}}</td> 
                      </tr> 
                    </div>
                
                    </table>
                   
                    </div> 
                      
     
        </div>
        <!-- <div class="col-md-10 dispaly_print"  id="printsection">
                
                     
                
            <table class="fixed display">
              <td class="td_1" cellpadding="10"cellspacing="10"><b>Bill No</b></td>
              <div>
                <tr>
                  <td cellpadding="10"cellspacing="10"><b>ModelNumber</b></td>
                  <td cellpadding="10"cellspacing="10"><b>Flavour</b></td>
                  <td cellpadding="10"cellspacing="10"><b>Quantity</b></td>
                  <td cellpadding="10"cellspacing="10"><b>Delivery Time</b></td>
                </tr>
              </div>
            </table>
     <div *ngFor="let item of salereports">
       
        
        <table class="fixed"> 
     
            <td class="td_1"><b class="display_1">Bill No:</b>&nbsp;<b>{{item.id}}</b></td>
            <div class="kill">
          <tr *ngFor="let data of item.orderItems">
          <td cellpadding="10"cellspacing="10">{{data.product.modelNumber}}</td>
        <td cellpadding="10"cellspacing="10" >{{data.flavour.name}}</td>
        <td cellpadding="10"cellspacing="10" >{{data.quantity}}{{data.uom.name}}</td>
         <td cellpadding="10"cellspacing="10">{{item.expectedTime}}</td> 
        </tr> 
      </div>
  
      </table>
     
      </div> 
        

</div> -->

   
            