/* .position{
    position: relative;
    bottom: 27px;
    left: 120px;
} */
.pending_matcard{
    margin-bottom: 15px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #171515;
}
.production_b1{
    float: right;
}
/* .display{
    display:none;
} */
/* table, th, td {
    border: 1px solid black;
} */
table {
    width: 100%;
}
/* td {
    height: 50%;
} */
/* div {
    border: 1px solid;
} */
/* .border_production p{
    border-left: 1px solid;
} */
table td{
table-layout: fixed;
width: 150px;
overflow: hidden;
word-wrap: break-word;
}
/* .kill{
    position: relative;
} */
.td_1{
    position: relative;
    bottom: 5px;
}
.fixed{
    border-bottom: 2px solid;
}
.display_1{
    display:none;
}
.dispaly_print_1{
    display:none;
}
.none{
    display: none;
}